<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="AzizMyGet" value="https://www.myget.org/F/AzizKapGit/" />
  </packageSources>
  
  <packageSourceCredentials>
  
       <AzizMyGet>
  
            <add key="Username" value="azizkapgit" />
  
            <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAhd6WsHf2lUOupILdknqYTgAAAAACAAAAAAAQZgAAAAEAACAAAACK7JidaQE+KVH0NLHbusKM80BM9cUmvQ6+klriiGNKGQAAAAAOgAAAAAIAACAAAAAZNI4AvpR29Ymix8pwQH398smk97EDWdvJPRllIR+heBAAAAD2/4DtUTl8cIKRtIBIFODzQAAAAPMNmRm70zzhtJKKvMs4X4yLhYbyNUog4gziVYyrasgUcnIyQLx/bzPeELgAu6dEFXIj6mQ7+TR61AFyyER0oJU=" />
  
       </AzizMyGet>
  
  </packageSourceCredentials>
</configuration>