<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="PoqMyGet" value="https://www.myget.org/F/poqtest/api/v3/index.json" />
  </packageSources>

  <packageSourceCredentials>

    <PoqMyGet>

      <add key="Username" value="azizpoq" />

      <add key="ClearTextPassword" value="poq1poq1" />

    </PoqMyGet>

  </packageSourceCredentials>
</configuration>
