<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="PoqMyGet" value="https://www.myget.org/F/poqtest/" />
  </packageSources>

  <packageSourceCredentials>
         <PoqMyGet>
                <add key="Username" value="azizpoqtest" />

                <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAwMNp9ZKEb0K6PYHYPp9EuQAAAAACAAAAAAAQZgAAAAEAACAAAABMOBBrps7tgRlz/bo5rAy3ExfF5tcEqi9gXNXShw0oMgAAAAAOgAAAAAIAACAAAAB6FZB7OaqtwXYqaAh+hB+WoiKyYdJmAt2rfsOuM2id+BAAAACKkmgMmHE5ffU4/5osl1H9QAAAAEryi3FDmBcbpJZvqPgnheL2gS7A2xkTupz53dpkx1oRQs/EmeLRd/ONVQyH3ZcEzQe7tUsNh/SVvfFsg4H13Pw=" />

         </PoqMyGet>
  </packageSourceCredentials>
</configuration>
